@import "tailwindcss";

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}


@keyframes loadingLine {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

.animate-loadingLine {
  animation: loadingLine 1.5s infinite ease-in-out;
}